/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Roboto Condensed', sans-serif;
    color:#717171;
}

::selection{
    background-color: #ec7532;
    color: white;
}

/* line style */

.line::after{
    content: '';
    width: 0;
    height: 3px;
    background:linear-gradient(to right,#fbbd61,#ec7532) ;
    display: block;
    box-shadow: 0 0 20px 0 #fbbd61;
    transition: 0.5s;
}

.line:hover::after{
    width: 100%;
}

.line.active::after{
    width: 100%;
}

.section{
    padding: 75px 0;
}

.title{
    color: #ec7532;
    font-size: 1.125rem;
    border-bottom: 1px solid #d8d8d8;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    margin-bottom: 40px;
}
.title::after{
    content: '';
    background: linear-gradient(to right,#fbbd61,#ec7532);
    width: 125px;
    height: 4px;
    display: block;
    margin-top: 20px;
}

.title--white{
    color: white;
    border-bottom: 1px solid #333;
}
/* HEADER */
header{ 
    top:20px;
    left:50%;
    background-color: #101010;
}
header p{
    font-size: 14px;
    font-weight: 700;
}
.navbar-brand{
    margin-left: 50px;
}
.navbar-brand p{
    margin-left: 50px;
    color: #ec7532;
    font-size: 1.6rem;
}
#movieNavBar .navbar-nav {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

#movieNavBar .navbar-nav .nav-link{
    color: white;
    letter-spacing: 3px;
    line-height: 0.8em;
    padding: 20px 24px;
}

#headerFixed{
    background-color: #101010;
    position: fixed;
    top:0;
    width: 100%;
    transform: translate(-50%,-100%);
    transition: transform 0.5s;
    z-index: 16;
}

.search__bar p{
    margin: auto auto;
}



/* RESPONSIVE */
@media screen and (max-width:991.98px){
    /* HEADER */
    header .navbar-brand{
        max-width: 180px;
    }

    header .navbar-brand img{
        max-width:100%;
    }

    #movieNavBar .navbar-nav .nav-link{
        font-size: 14px;
        padding:20px 12px;
        letter-spacing: 2px;
    }
}

@media screen and (max-width:767.98px){
    /* GLOBAL */
    .line.active::after{
        width: 0;
    }

    /* HEADER */
    header .navbar-toggler{
        color: #fbbd61;
    }
    header .navbar-toggler:focus{
        outline: none;
    }

    #movieNavBar .navbar-nav{
        background-color: rgba(0, 0, 0, 0.9);
        text-align: center;
    }

    #movieNavBar .navbar-nav .active .nav-link{
        color: #ec7532;
    }
}